---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Hero75 from "../components/Hero75.astro";
import ImageComp from "../components/ImageComp.astro";
import CTAMeetOurFleet from "../components/ProgramSlug/CTAMeetOurFleet.astro";
import ProgramsGrid from "../components/Programs/ProgramsGrid.astro";
import OldProgrammGrid from "../components/Programs/OldProgrammGrid.astro";

type Program = CollectionEntry<"programs">;

const programs = await getCollection("programs");
const sortedPrograms = programs.sort(
  (a: Program, b: Program) => (a.data.order || 999) - (b.data.order || 999),
);

const heroData = {
  image: {
    src: "/src/assets/placeholder-dark-clouds-pitcairn-flight-academy-instrument-rating.webp",
    alt: "imagePlaceholder",
  },
  title: "Pilot Training",
  subTitle:
    "Pitcairn Flight Academy is the perfect place to kickstart your pilot training journey. We're here to help you get your wings and achieve your dream of becoming a pilot. Join us and start on an exciting adventure in the world of aviation. Explore our comprehensive flight training programs designed to take you from zero to hero, learn about the Pilot Training Process and How to become a pilot.",
  cta: [
    {
      url: "/enroll",
      text: "Enroll Now",
    },
  ],
};

const metaProps = {
  siteTitle: "Flight Training Programs | {COMPANY_NAME}",
  siteDescription:
    "Explore our Part 141 and Part 61 pilot training programs. From the Professional Airline Pilot Track to individual ratings, we provide a structured path to the cockpit.",
  siteKeywords:
    "flight school programs, professional pilot track, private pilot license, instrument rating, commercial pilot certificate, multi-engine training,  flight courses",
};
---

<BaseLayout {...metaProps}>
  <Hero75 data={heroData} />
  <section class="pt-20 px-20">
    <div class="text-center flex flex-col items-center md:mb-16">
      <div class="inline-block mb-4">
        <span class="subtitle">Choose Your Path</span>
      </div>
      <h2 class="title !text-lucky-950 max-w-xl">
        All-Inclusive Tracks & Individual Ratings
      </h2>
      <p class="text-lg text-gray-600 mb-8 leading-relaxed max-w-5xl">
        From our intensive 8 to 10 month Professional Track to a la carte Part
        141 and 61 courses, we offer a clear roadmap for every aviation goal. We
        eliminate the uncertainty of hidden fees and waitlists by providing
        on-site housing, immediate scheduling, and a senior cadre dedicated to
        your progression.
        <br /><br />
        <strong
          >Select the program that fits your mission, and we’ll provide the
          mentorship to get you there.</strong
        >
      </p>
    </div>
  </section>
  <ProgramsGrid />
  <!-- <OldProgrammGrid /> -->
  <CTAMeetOurFleet imageSide="left" background="red" />
</BaseLayout>
