---
import ImageComp from "./ImageComp.astro";
import ImageWithZoomEffect from "./ProgramSlug/ImageWithZoomEffect.astro";
const { data } = Astro.props;
---

<section class="py-16 bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row gap-8 items-stretch">
      <div class="w-full lg:w-1/2 flex flex-col">
        <h2 class="title !text-white !mb-6" set:html={data.title}/>
        <div class="paragraph-text !text-white/90">
          {data.descriptionParagraphs.map((p: string) => <p class="">{p}</p>)}
        </div>

        {data.listItems && (
          <ul class="space-y-4 mt-8">
            {data.listItems.map((item: string) => (
              <li class="flex items-start group ">
                <span class="flex-shrink-0 w-8 h-8 flex items-center justify-center rounded-full bg-monza-600 text-white text-xs font-bold mr-3 group-hover:scale-110 transition-transform">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24"><path fill="currentColor" d="M7 14v6q0 .425-.288.713T6 21t-.712-.288T5 20V5q0-.425.288-.712T6 4h7.175q.35 0 .625.225t.35.575L14.4 6H19q.425 0 .713.288T20 7v8q0 .425-.288.713T19 16h-5.175q-.35 0-.625-.225t-.35-.575L12.6 14z"/></svg>
                </span>
                <span class="text-lg text-white font-medium not-italic">{item}</span>
              </li>
            ))}
          </ul>
        )}
      </div>

      {data.mainImage && (
        <div class="w-full lg:w-1/2 relative min-h-[400px]">
          <div class="absolute inset-0">
            <ImageWithZoomEffect
              src={data.mainImage}
              alt={data.mainImageAlt || data.title}
              class="w-full h-full object-cover rounded shadow-2xl"
            />
          </div>
        </div>
      )}

    </div>
  </div>
</section>